@model AdminAuthDTO
<li class="nav-item profile">
    <div class="profile-desc">
        <div class="profile-pic">
            <div class="profile-name">
                <h5 class="mb-0 font-weight-normal">@Model.FirstName @Model.LastName</h5>
                <span>@Model.Email</span>
            </div>
        </div>
        <a href="#" id="profile-dropdown" data-bs-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
            <a href="/auth/changePassword" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                </div>
                <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                </div>
            </a>
            <div class="dropdown-divider"></div>
            <form method="post" asp-area="" asp-controller="Auth" asp-action="Logout">
                <button type="submit" class="dropdown-item preview-item btn btn-text">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-settings  text-info"></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <p class="preview-subject ellipsis mb-1 text-small">Logout</p>
                    </div>
                </button>
            </form>
            <div class="dropdown-divider"></div>
            <a href="/auth/editProfile?ReturnUrl=%2Fadmin" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                </div>
                <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Profile</p>
                </div>
            </a>
        </div>
    </div>
</li>