@{
    Layout = "_AuthLayout";
}

@model ChangePasswordDTO

<h3 class="card-title text-left mb-3">Change Password</h3>
<form method="post">
    @if(ViewData["Error"] != null)
    {
        <span class="text-danger">@ViewData["Error"]</span>
    }
    @if (ViewData["Success"] != null)
    {
        <span class="text-success">@ViewData["Success"]</span>
    }
    <div class="form-group">
        <label>Current Password *</label>
        <input asp-for="OldPassword" type="password" class="form-control p_input">
    </div>
    <div class="form-group">
        <label>New Password *</label>
        <input asp-for="NewPassword" type="password" class="form-control p_input">
    </div>
    <div class="form-group">
        <label>Confirm New Password *</label>
        <input asp-for="ConfirmNewPassword" type="password" class="form-control p_input">
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-block enter-btn">Change Password</button>
    </div>
</form>