@model List<AdminCategoryListDTO>

@{
    var count = 1;
}

<a href="/@AdminName.Admin/categories/create" class="btn btn-warning">Create</a>
<div class="table-responsive">
    <table class="table table-dark table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Category Name</th>
                <th>SubCatgeroies</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Model)
            {
                <tr>
                    <td>@(count++)</td>
                    <td>@cat.Name</td>
                    <td>
                        @if (cat.SubCategories != null)
                        {
                            <ul>
                                @foreach (var item in cat.SubCategories)
                                {
                                    <li>@item</li>
                                }
                            </ul>
                        }
                        else{
                            <span>nope</span>
                        }
                    </td>
                    <td>
                        <div class="d-flex gap-2">
                            <a href="/@AdminName.Admin/categories/edit/@cat.Id" class="btn btn-warning">Edit</a>
                            <form method="post" action="/@AdminName.Admin/categories/delete/@cat.Id">
                                <button onclick="return confirm('Are you sure you want to delete @cat.Name?')" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>