@model List<UserListDTO>
@{
    var count = 1;
}
@inject IRoleService _roleManager;
@{
    var roles = _roleManager.GetRoles().Data
                .Where(x=>x.Name!="Super Admin");
}
<div class="table-responsive">
    <table id="dataTable" class="table table-dark table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>Full Name</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@(count++)</td>
                    <td>@user.Email</td>
                    <td>@user.FullName</td>
                    <td>
                        @foreach (var role in user.UserRoles)
                        {
                            <p>@role</p>
                        }
                    </td>
                    <td>
                        @if (!user.UserRoles.Contains("Super Admin"))
                        {
                            @if (roles.Count() - user.UserRoles.Count != 0)
                            {
                                <a href="/@AdminName.Admin/users/addrole/@user.Id" class="btn btn-primary">Add Role</a>
                            }
                            @if (user.UserRoles.Count != 1)
                            {
                                <a href="/@AdminName.Admin/users/deleterole/@user.Id" class="btn btn-danger">Delete Role</a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}